@import 'variables';
@import "fonts";

body {

  .v-app-bar{
    background-color: blueviolet !important;
  }

  .category-style{
    width: 20%;
  }



  .v-application {
    background-color: aqua;



  }

}